<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>JARSOL-Materiales-Vidrio</title>
  <!-- Bootstrap Core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/images/jarsol.png">
  <!-- Theme CSS -->
  <link href="../stylesheets/agency.css" rel="stylesheet">
  <link href="../stylesheets/styleHome.css" rel="stylesheet">
  <link href="../stylesheets/materialStye.css" rel="stylesheet">
</head>

<body>
  <header>
    <% include ../partials/header2 %>
    <div class="container">
      <div class="intro-text">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <div class="logo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
      <div>
      </div>
      <div class="row">
          <div class="col-md-12 style-header">
              <div class="text-center">
                  <h2>Vidrios</h2>
              </div>
          </div>
      </div>
  </div>

      <div class="flexcontainer">
       <div class="row margin-top">
         <div class="col-md-3 ">
             <div class="containerI">
                 <div class="div-img ">
                     <img class="img " src="../images/chicas/3.jpg" title="" alt="Foto5" alt="" />
                     <div class="text">
                       4mm - 5mm - 6mm - 8mm - 10mm
                     </div>
                  <div class="cards">
                     <h3>Vidrio Claro</h3>
                  </div>
                 </div>

             </div>

         </div>
         <div class="col-md-3 ">
             <div class="containerI">
                 <div class="div-img ">
                     <!--<img class="img" src="http://www.interactius.com/wp-content/uploads/2015/03/foto5.png" title="Foto5" alt="Foto5">-->
                     <img class="img " src="../images/chicas/1.jpg" title="" alt="Foto5" alt="" />
                     <div class="text">
                           4mm - 5mm - 6mm - 8mm - 10mm
                     </div>
                  <div class="cards">
                     <h3>Vidrio Gris</h3>
                  </div>
                 </div>

             </div>

         </div>
      <div class="col-md-3 ">
          <div class="containerI">
              <div class="div-img ">
                  <!--<img class="img" src="http://www.interactius.com/wp-content/uploads/2015/03/foto5.png" title="Foto5" alt="Foto5">-->
                  <img class="img " src="../images/chicas/8.jpg" title="" alt="Foto5" alt="" />
                  <div class="text">
                      4mm - 5mm - 6mm - 8mm - 10mm
                  </div>
               <div class="cards">
                  <h3>Vidrio Bronce</h3>
               </div>
              </div>

          </div>

      </div>
      <div class="col-md-3 ">
          <div class="containerI">
              <div class="div-img ">
                  <!--<img class="img" src="http://www.interactius.com/wp-content/uploads/2015/03/foto5.png" title="Foto5" alt="Foto5">-->
                  <img class="img " src="../images/chicas/1.jpg" title="" alt="Foto5" alt="" />
                  <div class="text">
                    5mm
                  </div>
               <div class="cards">
                  <h3>Vidrio Reflectivo</h3>
               </div>
              </div>

          </div>

      </div>



  </div>
  <div class="row">
   <div>
     <div class="col-md-3 ">
         <div class="containerI">
             <div class="div-img ">
                 <!--<img class="img" src="http://www.interactius.com/wp-content/uploads/2015/03/foto5.png" title="Foto5" alt="Foto5">-->
                 <img class="img " src="../images/chicas/2.jpg" title="" alt="Foto5" alt="" />
                 <div class="text">
                  4mm - 5mm - 6mm - 8mm - 10mm
                 </div>
              <div class="cards">
                 <h3>Vidrio Verde</h3>
              </div>
             </div>

         </div>

     </div>
     <div class="col-md-3 ">
         <div class="containerI">
             <div class="div-img ">
                 <!--<img class="img" src="http://www.interactius.com/wp-content/uploads/2015/03/foto5.png" title="Foto5" alt="Foto5">-->
                 <img class="img " src="../images/chicas/3.jpg" title="" alt="Foto5" alt="" />
                 <div class="text">
                     6mm - 10mm
                 </div>
              <div class="cards">
                 <h3>Vidrio Azul</h3>
              </div>
             </div>

         </div>

     </div>
     <div class="col-md-3 ">
         <div class="containerI">
             <div class="div-img ">
                 <!--<img class="img" src="http://www.interactius.com/wp-content/uploads/2015/03/foto5.png" title="Foto5" alt="Foto5">-->
                 <img class="img " src="../images/chicas/4.jpg" title="" alt="Foto5" alt="" />
                 <div class="text">
                    3mm - 5mm
                 </div>
              <div class="cards">
                 <h3>Vidreo Espejo</h3>
              </div>
             </div>

         </div>

     </div>
     <div class="col-md-3 ">
         <div class="containerI">
             <div class="div-img ">
                 <!--<img class="img" src="http://www.interactius.com/wp-content/uploads/2015/03/foto5.png" title="Foto5" alt="Foto5">-->
                 <img class="img " src="../images/chicas/5.jpg" title="" alt="Foto5" alt="" />
                 <div class="text">
                    6mm
                 </div>
              <div class="cards">
                 <h3>Vidreo Espejo Negro</h3>
              </div>
             </div>

         </div>

     </div>

   </div>
  </div>

  <div class="row">
   <div>
     <div class="col-md-3 ">
         <div class="containerI">
             <div class="div-img ">
                 <!--<img class="img" src="http://www.interactius.com/wp-content/uploads/2015/03/foto5.png" title="Foto5" alt="Foto5">-->
                 <img class="img " src="../images/chicas/2.jpg" title="" alt="Foto5" alt="" />
                 <div class="text">
                    4mm - 6mm - 8mm - 10mm
                 </div>
              <div class="cards">
                 <h3>Vidrio AL Acido</h3>
              </div>
             </div>

         </div>

     </div>
     <div class="col-md-3 ">
         <div class="containerI">
             <div class="div-img ">
                 <!--<img class="img" src="http://www.interactius.com/wp-content/uploads/2015/03/foto5.png" title="Foto5" alt="Foto5">-->
                 <img class="img " src="../images/chicas/3.jpg" title="" alt="Foto5" alt="" />
                 <div class="text">
                     4mm
                 </div>
              <div class="cards">
                 <h3>Vidrio Nieve Claro</h3>
              </div>
             </div>

         </div>

     </div>
     <div class="col-md-3 ">
         <div class="containerI">
             <div class="div-img ">
                 <!--<img class="img" src="http://www.interactius.com/wp-content/uploads/2015/03/foto5.png" title="Foto5" alt="Foto5">-->
                 <img class="img " src="../images/chicas/4.jpg" title="" alt="Foto5" alt="" />
                 <div class="text">
                    4mm
                 </div>
              <div class="cards">
                 <h3>Vidrio Nieve Bronce</h3>
              </div>
             </div>

         </div>

     </div>
     <div class="col-md-3 ">
         <div class="containerI">
             <div class="div-img ">
                 <!--<img class="img" src="http://www.interactius.com/wp-content/uploads/2015/03/foto5.png" title="Foto5" alt="Foto5">-->
                 <img class="img " src="../images/chicas/5.jpg" title="" alt="Foto5" alt="" />
                 <div class="text">
                    3mm - 4mm - 5mm
                 </div>
              <div class="cards">
                 <h3>Vidreo Laminado CL</h3>
              </div>
             </div>

         </div>

     </div>

   </div>
  </div>
  <div class="row">
   <div>
     <div class="col-md-4 ">
         <div class="containerI">
             <div class="div-img ">
                 <!--<img class="img" src="http://www.interactius.com/wp-content/uploads/2015/03/foto5.png" title="Foto5" alt="Foto5">-->
                 <img class="img " src="../images/chicas/2.jpg" title="" alt="Foto5" alt="" />
                 <div class="text">
                     4mm
                 </div>
              <div class="cards">
                 <h3>Vidrio Laminado Gris</h3>
              </div>
             </div>

         </div>

     </div>
     <div class="col-md-4 ">
         <div class="containerI">
             <div class="div-img ">
                 <!--<img class="img" src="http://www.interactius.com/wp-content/uploads/2015/03/foto5.png" title="Foto5" alt="Foto5">-->
                 <img class="img " src="../images/chicas/3.jpg" title="" alt="Foto5" alt="" />
                 <div class="text">
                    3mm
                 </div>
              <div class="cards">
                 <h3>Vidrio Laminado BR</h3>
              </div>
             </div>

         </div>

     </div>
     <div class="col-md-4">
         <div class="containerI">
             <div class="div-img ">
                 <img class="img " src="../images/chicas/4.jpg" title="" alt="Foto5" alt="" />
                 <div class="text">
                     3mm
                 </div>
              <div class="cards">
                 <h3>Vidrio Laminado Verde</h3>
              </div>
             </div>

         </div>

     </div>


   </div>
  </div>

<!-- flexcontainer -->
      </div>


<% include ../partials/footer %>
  <!-- in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. -->
  <!-- jQuery -->
  <script src="../vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb"
    crossorigin="anonymous"></script>

  <!-- Theme JavaScript -->
  <script src="../js/agency.min.js"></script>


</body>

</html>
