<section id="productos" name="productos" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Productos</h2>
                <h4 class="service-heading ">Ofrecemos una gran variedad de Productos</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="hover14">
                        <img src="images/portfolio/venta50.jpg" class="img-responsive " alt="Ventana">
                        <div class="portfolio-caption">
                            <h4 class="text-center">Ventana 5020</h4>
                        </div>
                    </div>

            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="hover14">
                        <img src="images/portfolio/porton8025.jpg" class="img-responsive " alt="Port칩n 8025">
                        <div class="portfolio-caption">
                            <h4 class="text-center">Port칩n 8025</h4>
                        </div>

                    </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="hover14">
                        <img src="images/portfolio/ventila.jpg" class="img-responsive " alt="Ventila">
                        <div class="portfolio-caption">
                            <h4 class="text-center">Ventila</h4>
                        </div>
                    </div>

            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="hover14">
                        <img src="images/portfolio/puertaTemperada.jpg" class="img-responsive " alt="">
                        <div class="portfolio-caption">
                            <h4 class="text-center">Puerta Temperada</h4>
                        </div>
                    </div>

            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="hover14">
                        <img src="images/portfolio/PLujo.jpg" class="img-responsive " alt="Puerta Lujo">
                        <div class="portfolio-caption">
                            <h4 class="text-center">Puerta Lujo</h4>
                        </div>
                    </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="hover14">
                        <img src="images/portfolio/puertaBa.jpg" class="img-responsive " alt="Puerta Ba침o">
                        <div class="portfolio-caption">
                            <h4 class="text-center">Puerta Ba침o</h4>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
