<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>JARSOL-Materiales-Accesorios</title>
  <link rel="shortcut icon" href="/images/jarsol.png">
  <!-- Bootstrap Core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <!-- Theme CSS -->
  <link href="../stylesheets/agency.css" rel="stylesheet">
  <link href="../stylesheets/styleHome.css" rel="stylesheet">
  <link href="../stylesheets/materialStye.css" rel="stylesheet">

</head>

<body>

  <header>
    <% include ../partials/header2 %>
      <div class="container">
        <div class="intro-text">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              <div class="logo">
              </div>
            </div>
          </div>

        </div>
      </div>
  </header>
  <div class="container">
    <div>

    </div>
    <div class="row">
      <div class="col-md-12 style-header">
        <div class="text-center">
          <h2>Accesorios</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="flexcontainer">
    <div class="row margin-top">
      <div class="col-md-3 ">
        <div class="containerI">
          <div class="div-img ">
            <img class="img " src="../images/materiales/accesorios/guiasPlastica.jpg" title="" alt="Guías Plásticas"  />
            <div class="text">
              50/20 - 80/25
            </div>
            <div class="cards">
              <h3>Guías Plásticas</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="containerI">
          <div class="div-img ">
            <img class="img " src="../images/materiales/accesorios/Empaque.jpg" title="" alt="Empaque" />
            <div class="text">
              Plastilang
            </div>
            <div class="cards">
              <h3>Empaques</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="containerI">
          <div class="div-img ">
            <img class="img " src="../images/materiales/accesorios/tornilleria.jpg" title="" alt="tornilleria" />
            <div class="text">
              Bronce - Galvanizado
            </div>
            <div class="cards">
              <h3>Tornilleria</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="containerI">
          <div class="div-img ">
            <img class="img " src="../images/materiales/accesorios/akari.jpg" title="" alt="Accesorios Akari" />
            <div class="text">
              6030 - 8040
            </div>
            <div class="cards">
              <h3>Accesorios Akari</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <div class="col-md-3 ">
          <div class="containerI">
            <div class="div-img ">
              <img class="img " src="../images/materiales/accesorios/rodines.jpg" title="" alt="Foto5" alt="" />
              <div class="text">
                Olimpia - Nylon
              </div>
              <div class="cards">
                <h3>Rodines</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="containerI">
            <div class="div-img ">
              <img class="img " src="../images/materiales/accesorios/doblePunto.jpg" title="" alt="Cierre Doble Punto"  />
              <div class="text">
                Negro - Convencional
              </div>
              <div class="cards">
                <h3>Cierre Doble Punto</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="containerI">
            <div class="div-img ">
              <img class="img " src="../images/materiales/accesorios/dobleManija.jpg" title="" alt="Cierre Doble Manija"  />
              <div class="text">
                Negro - Convencional
              </div>
              <div class="cards">
                <h3>Cierre Doble Manija</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="containerI">
            <div class="div-img ">
              <img class="img " src="../images/materiales/accesorios/CierrePicoLora.jpg" title="" alt="CierrePicoLora"  />
              <div class="text">
                Llave Larga - Llave Corta
              </div>
              <div class="cards">
                <h3>Cierre Pico Lora</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div>
        <div class="col-md-3 ">
          <div class="containerI">
            <div class="div-img ">
              <img class="img " src="../images/materiales/accesorios/juegoPivote.jpg" title="" alt="juegoPivote"  />
              <div class="text">
                Natural - Bronce
              </div>
              <div class="cards">
                <h3>Juego Pivote</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="containerI">
            <div class="div-img ">
              <img class="img " src="../images/materiales/accesorios/haladera.jpg" title="" alt="Haladera675" />
              <div class="text">
                Color Negro
              </div>
              <div class="cards">
                <h3>Haladera 675</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="containerI">
            <div class="div-img ">
              <img class="img " src="../images/materiales/accesorios/flushBall.jpg" title="" alt="Pasador Embutido"  />
              <div class="text">
                Natural - Negro
              </div>
              <div class="cards">
                <h3>Pasador Embutido</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="containerI">
            <div class="div-img ">
              <img class="img " src="../images/materiales/accesorios/cierreImpacto5020.jpg" title="" alt="cierreImpacto" />
              <div class="text">
                Natural - Bronce
              </div>
              <div class="cards">
                <h3>Cierre de Impacto 50/20</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <div class="col-md-3 ">
          <div class="containerI">
            <div class="div-img ">
              <img class="img " src="../images/materiales/accesorios/brazoH.png" title="" alt="Brazo Hidráulico"  />
              <div class="text">
                Cierra Puerta de Alto Tránsito
              </div>
              <div class="cards">
                <h3>Brazo Hidráulico</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="containerI">
            <div class="div-img ">
              <img class="img " src="../images/materiales/accesorios/cierreAkari.jpg" title="" alt="Cierre Akari" />
              <div class="text">
                60/30 - 80/40
              </div>
              <div class="cards">
                <h3>Cierre Akari</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="containerI">
            <div class="div-img ">
              <img class="img " src="../images/materiales/accesorios/silicon.jpg" title="" alt="silicon" />
              <div class="text">
                Transparente - Bronce
              </div>
              <div class="cards">
                <h3>Silicon</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 ">
          <div class="containerI">
            <div class="div-img ">
              <img class="img " src="../images/materiales/accesorios/AccesoriosTemperado.jpg" title=""  alt="AccesoriosTemperado" />
              <div class="text">
                Cromados
              </div>
              <div class="cards">
                <h3>Accesorios Temperado</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <div class="col-md-4 ">
          <div class="containerI">
            <div class="div-img ">
              <img class="img " src="../images/materiales/accesorios/FelpaVentanas.jpg" title="" alt="FelpaVentanas"  />
              <div class="text">
                50/20 - 80/25
              </div>
              <div class="cards">
                <h3>Felpa</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="containerI">
            <div class="div-img ">
              <img class="img " src="../images/materiales/accesorios/SoporteCromador.jpg" title="" alt="SoporteCromador" />
              <div class="text">
                Repisas de Vidrio
              </div>
              <div class="cards">
                <h3>Soporte Cromador</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="containerI">
            <div class="div-img ">
            <img class="img " src="../images/materiales/accesorios/haladeraCromada.jpg" title="" alt="Haladera" />
              <div class="text">
                Puertas de Lujo
              </div>
              <div class="cards">
                <h3>Haladera Cromadas</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- flexcontainer -->
  </div>

  <% include ../partials/footer %>
    <!-- in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. -->
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../js/agency.min.js"></script>
</body>

</html>
