.article-style {
  border-style: groove;
  border-radius: 15px;
  padding: 32px;
  margin: 10px;
}

.danger-style{
      margin-left: 20px;
}
.img-center{
  display: flex;
    justify-content: center;
}
